html,body{
	height: 100%;
}
.container-fluid{
	margin-right:0px;
	background-color: rgb(255,255,255);
  	height: 100%;
}	

#hlavicka{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: rgb(255,0,0);
	width: 100%;
	height: 15%;
}
#collapsibleNavbar{
	color: rgb(255,0,0);
	font-family: "Comic Sans MS", cursive, sans-serif;
	width: 100%;
}

.navbar-nav {
	display: block;
	width: inherit;
}

.navbar-nav > .nav-item {
	width: 25%;
	display: inline-block;
	text-align: center;
	color:red;
}

.navbar .dropdown-menu {
  background-color: #343a40;
  color:red;
}
/* style dropdown linku*/
.navbar .dropdown a { 
  background-color: #343a40;
  color:red;
}
/*Barvy těch hlavních navigátorů*/
#navbarDropdownMenuLink{
    color: rgb(255,0,0);

}

.dropdown:hover .dropdown-menu{
	display: block;
	text-align: center;
	left: 50%;
	transform: translateX(-50%) ;
}
